<a href="https://colab.research.google.com/github/NickLewis330/Computational-thinking-and-programming-courses/blob/master/Week_7_A108260007_%E9%BB%83%E8%A9%A9%E5%93%B2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
s1 ="123"
s2 = "456"
s3 = s1 + s2 
print(s3)
s4 = s1 * 2
print(s4)
s5 = '春眠不覺曉，處處聞啼鳥。\n\
夜來風雨聲，花落知多少。\n\
\t作者"孟浩然" 詩名"春曉"'
print(s5)

123456
123123
春眠不覺曉，處處聞啼鳥。
夜來風雨聲，花落知多少。
	作者"孟浩然" 詩名"春曉"

In [2]:
s = '123456789'
print(s[0]) 
print(s[1])
print(s[-1]) 
print(s[-2])
s = '0123456789'
print('s=', s)
print('s[0]=', s[0])
print('s[1]=', s[1])
print('s[-1]=', s[-1])
print('s[-2]=', s[-2])

1
2
9
8
s= 0123456789
s[0]= 0
s[1]= 1
s[-1]= 9
s[-2]= 8

In [3]:
print('s=', s, 's[:]=', s[:])
print('s=', s, 's[5:]=', s[5:]) 
print('s=', s, 's[-2:]=', s[-2:])
print('s=', s, 's[:5]=', s[:5]) 
print('s=', s, 's[:-2]=', s[:-2])
print('s=', s, 's[7:9]=', s[7:9])
print('s=', s, 's[-4:-1]=', s[-4:-1])
print('s=', s, 's[5:-2]=', s[5:-2])
print('s=', s, 's[2:10:2]=', s[2:10:2])
print('s=', s, 's[::-1]=', s[::-1])
print('s=', s, 's[-1::-1]=', s[-1::-1])

s= 0123456789 s[:]= 0123456789
s= 0123456789 s[5:]= 56789
s= 0123456789 s[-2:]= 89
s= 0123456789 s[:5]= 01234
s= 0123456789 s[:-2]= 01234567
s= 0123456789 s[7:9]= 78
s= 0123456789 s[-4:-1]= 678
s= 0123456789 s[5:-2]= 567
s= 0123456789 s[2:10:2]= 2468
s= 0123456789 s[::-1]= 9876543210
s= 0123456789 s[-1::-1]= 9876543210

In [4]:
s = '春眠不覺曉，處處聞啼鳥，夜來風雨聲，花落知多少。'
print(len(s))
s1='春眠不覺曉，處處聞啼鳥，夜來風雨聲，花落知多少。'
list1=s1.split('，') 
print(list1)
list1 = ['春眠不覺曉','處處聞啼鳥','夜來風雨聲','花落知多少。']
s2='，'.join(list1) 
print(s2)

24
['春眠不覺曉', '處處聞啼鳥', '夜來風雨聲', '花落知多少。']
春眠不覺曉，處處聞啼鳥，夜來風雨聲，花落知多少。

In [10]:
s1='春眠不覺曉，處處聞啼鳥，夜來風雨聲，花落知多少。'
print(s1.find('花落'))
print(s1.count('處'))
s3=s1.replace('春','冬') 
print(s3)

18
2
冬眠不覺曉，處處聞啼鳥，夜來風雨聲，花落知多少。

In [6]:
s1='An apple a day.'
print(s1.capitalize())
print(s1.title())
print(s1.swapcase())
print(s1.upper())
print(s1.lower())

An apple a day.
An Apple A Day.
aN APPLE A DAY.
AN APPLE A DAY.
an apple a day.

In [7]:
s1='春眠不覺曉，處處聞啼鳥，夜來風雨聲，花落知多少。'
print(s1.startswith('春眠'))
print(s1.endswith('多少。'))
s1='春眠不覺曉'
print(s1.center(10))
print(s1.rjust(10))
print(s1.ljust(10))
s1='123'
print(s1.zfill(5))
s1=' Hello,Mary. '
print(s1.strip())
print(s1.lstrip(' H'))
print(s1.rstrip(' .'))

True
True
  春眠不覺曉
     春眠不覺曉
春眠不覺曉
00123
Hello,Mary.
ello,Mary.
 Hello,Mary

In [9]:
t1 = ()
print(t1)
t2 = 1, 2 ,3 
print(t2)
t3 = (1, 2, 3) 
print(t3)
list1=[1,2,3,4] 
t4 = tuple(list1) 
print(t4)
t4 = (1,2,3,4) 
t5 = (t4,5,6)
print(t5)
t6 = ('z', ) 
print(t6)

()
(1, 2, 3)
(1, 2, 3)
(1, 2, 3, 4)
((1, 2, 3, 4), 5, 6)
('z',)

In [11]:
t3 = (1, 2, 3)
print(t3[0]) 
t4 = (1,2,3,4)
t5 = (t4,5,6)
print(len(t5))
print(t5[0][0])

1
3
1

In [12]:
t3 = (1, 2, 3)
a, b, c = t3
print('a =', a, ',b =', b, ',c =', c)
a = 10
b = 20
print('交換前','a =', a, ',b =', b)
a, b = b, a
print('交換後','a =', a, ',b =', b)

a = 1 ,b = 2 ,c = 3
交換前 a = 10 ,b = 20
交換後 a = 20 ,b = 10

In [14]:
shoplist = ['牛奶', '蛋', '咖啡豆', '西瓜', '鳳梨']
print('購物清單shoplist為')
print(shoplist)
listm = [1, 2.0, 'Python']
print("串列可以包含各種資料型別的元素")
print(listm)
list1 = list('python')
print(list1) #用list()建立串列
tuple2 = ('a', 'b', 1, 2)
list2 = list(tuple2) 
print(list2)

購物清單shoplist為
['牛奶', '蛋', '咖啡豆', '西瓜', '鳳梨']
串列可以包含各種資料型別的元素
[1, 2.0, 'Python']
['p', 'y', 't', 'h', 'o', 'n']
['a', 'b', 1, 2]

In [16]:
shoplist = ['牛奶', '蛋', '咖啡豆', '西瓜', '鳳梨']
print('購物清單shoplist的長度為', len(shoplist)) 
shoplist1 = ['牛奶', '蛋', '咖啡豆']
shoplist2 = ['西瓜', '鳳梨']
shoplist_all = shoplist1 + shoplist2 
print(shoplist_all)

購物清單shoplist的長度為 5
['牛奶', '蛋', '咖啡豆', '西瓜', '鳳梨']

In [18]:
shoplist = ['牛奶', '蛋', '咖啡豆', '西瓜', '鳳梨']
print('顯示shoplist[0]為',shoplist[0])
index=shoplist.index('咖啡豆') 
print("執行 index=shoplist.index('咖啡豆') 後")
print('index=', index)
shoplist[1] = '皮蛋'
print("執行 shoplist[1] = '皮蛋' 後")
print(shoplist)
a = list('abcdefghijk')
print('a[:]為', a[:])
print('a[:5]為', a[:5])
print('a[5:]為', a[5:])
print('a[:-5]為', a[:-5])
print('a[-5:]為', a[-5:])
print('a[0:4]為', a[0:4])
print('a[-5:-3]為', a[-5:-3])
print('a[1:10:3]為', a[1:10:3])
print('a[-1:-4:-1]為', a[-1:-4:-1])
print('a[::-1]為', a[::-1])
shoplist = ['milk', 'egg', 'coffee', 'watermelon']
for item in shoplist:
 print(item)

顯示shoplist[0]為 牛奶
執行 index=shoplist.index('咖啡豆') 後
index= 2
執行 shoplist[1] = '皮蛋' 後
['牛奶', '皮蛋', '咖啡豆', '西瓜', '鳳梨']
a[:]為 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']
a[:5]為 ['a', 'b', 'c', 'd', 'e']
a[5:]為 ['f', 'g', 'h', 'i', 'j', 'k']
a[:-5]為 ['a', 'b', 'c', 'd', 'e', 'f']
a[-5:]為 ['g', 'h', 'i', 'j', 'k']
a[0:4]為 ['a', 'b', 'c', 'd']
a[-5:-3]為 ['g', 'h']
a[1:10:3]為 ['b', 'e', 'h']
a[-1:-4:-1]為 ['k', 'j', 'i']
a[::-1]為 ['k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']
milk
egg
coffee
watermelon

In [19]:
shoplist = ['牛奶', '蛋', '咖啡豆', '西瓜', '鳳梨']
shoplist.append('麵包') 
print("執行 shoplist.append('麵包')後")
print(shoplist)
shoplist.insert(4, '蘋果') 
print("執行 shoplist.insert(4, '蘋果') 後")
print(shoplist)
shoplist.remove('蛋') 
print("執行 shoplist.remove('蛋') 後")
print(shoplist)
del shoplist[0] 
print("執行 del shoplist[0] 後")
print(shoplist)
shoplist.pop(0) 
print("執行 shoplist.pop(0) 後")
print(shoplist)
shoplist.pop() 
print("執行 shoplist.pop() 後")
print(shoplist)
shoplist.pop(-1) 
print("執行 shoplist.pop(-1) 後")
print(shoplist)
shoplist = ['milk', 'egg', 'coffee', 'watermelon']
shoplist.sort() 
print("執行 shoplist.sort() 後")
print(shoplist)

執行 shoplist.append('麵包')後
['牛奶', '蛋', '咖啡豆', '西瓜', '鳳梨', '麵包']
執行 shoplist.insert(4, '蘋果') 後
['牛奶', '蛋', '咖啡豆', '西瓜', '蘋果', '鳳梨', '麵包']
執行 shoplist.remove('蛋') 後
['牛奶', '咖啡豆', '西瓜', '蘋果', '鳳梨', '麵包']
執行 del shoplist[0] 後
['咖啡豆', '西瓜', '蘋果', '鳳梨', '麵包']
執行 shoplist.pop(0) 後
['西瓜', '蘋果', '鳳梨', '麵包']
執行 shoplist.pop() 後
['西瓜', '蘋果', '鳳梨']
執行 shoplist.pop(-1) 後
['西瓜', '蘋果']
執行 shoplist.sort() 後
['coffee', 'egg', 'milk', 'watermelon']

In [20]:
list1 = [1, 2, 3, 4]
list2 = list1
print('list1=', list1)
print('list2=', list2)
list1[2]=19
print('list1=', list1)
print('list2=', list2)
list2[2]=18
print('list1=', list1)
print('list2=', list2)
list1 = [1, 2, 3, 4]
list3 = list1[:]
list3[2] = 19
print('list1=', list1)
print('list3=', list3)
list4 = list1.copy()
list4[2] = 19
print('list1=', list1)
print('list4=', list4)

list1= [1, 2, 3, 4]
list2= [1, 2, 3, 4]
list1= [1, 2, 19, 4]
list2= [1, 2, 19, 4]
list1= [1, 2, 18, 4]
list2= [1, 2, 18, 4]
list1= [1, 2, 3, 4]
list3= [1, 2, 19, 4]
list1= [1, 2, 3, 4]
list4= [1, 2, 19, 4]